name: CI with Cache

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Cache dependencies
        id: cache
        uses: actions/cache@v4
        with:
          path: ~/.cache
          key: cache-1c85831

      - name: prime-cache-1c85831
        run: echo "Cache hit = ${{ steps.cache.outputs.cache-hit }}"
